@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&family=Saira:ital@1&display=swap');

html {
  font-size: 100%;
}

body {
  background-color: lightcyan;
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}

header#page-header,
footer#page-footer {
  background-color: rgba(89, 179, 0, 0.65);
}

h1#title {
  color: lightcyan;
  font-size: calc(1.3rem + 3.6vw);
  margin: 0;
  padding: 1.4rem;
}

/* -------------------Dropdown section------------------ */
section#dropdown-container {
  height: 20vh;
  min-height: 200px;
  text-align: center;
} 

h2#dom-error {
  padding: 50px;
  margin: 30px 0;
  color: red;
  font-family: 'Saira', monospace;
  font-size: 1rem;
  background: lightyellow;
}

p.instructions {
  margin: 0;
  padding: 20px;
  font-size: calc(1rem + 1vw);
  color:rgb(89, 179, 0);
}

select#coins-dropdown {
  cursor: pointer;
  font-size: 20px;
  padding: 18px 16px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgba(89, 179, 0, 0.25);
}

select#coins-dropdown:focus {
  outline: none;
  background-color: rgba(89, 179, 0, 0.45);
}

select#coins-dropdown .option-item {
  background-color: rgba(77, 124, 29, 0.65);
  color: #fff;
}

option#default-label {
  font-style: italic;
}

/* -----------------Coin Container content styling-------------- */
section#coin-container {
  min-height: 50vh;
  width: 70vw;
  margin: 20px auto;
  background-color: cyan;
  border: 4px solid rgba(89, 179, 0, 0.65);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img#placeholder-image {
  width: 200px;
  max-height: 400px;
  border-radius: 50%;
  box-shadow: 10px 20px 30px rgba(89, 179, 0, 0.5);
  opacity: 0.7;
}

/*-------------------- Info Section Header ----------------*/
header#coin-header-div {
  flex: 1;
  padding-top: 30px;
}

header#coin-header-div,
footer#coin-footer-div {
  width: 100%;
}

img#coin-image {
  width: 100px;
  height: 100px;  
}

h3#coin-name {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 10px;
}

span#symbol {
  letter-spacing: 2px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

h2#price {
  font-family: 'Saira', monospace;
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 20px;
}

h2#price:hover {
  color:rgb(89, 179, 0);
  cursor: default;
  transition: color 0.5s ease-in;
}

/*------------------------ Info Section --------------------*/
div#info-section {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

div#info-left,
div#info-right {
  display: inherit;

  justify-content: center;
  width: 50%;
}

ol {
  width: 65%;
  padding-inline-start: 0;
  margin: 20px 0;
  align-content:center;
}

li {
  margin: 20px auto;
  text-align: right;
  list-style-type: none;
}

label.label {
  font-weight: 900;
  font-style: italic;
  float: left;
  flex-direction: column;
}

/*----------------- Info Section Footer ------------------*/
footer#coin-footer-div {
  padding-bottom: 15px;
}

footer#coin-footer-div span#time {
  /* color: black; */
  /* padding-top: 50px; */
  font-size: 0.8rem;
}

span#time label.label {
  float:none;
  padding-right: 10px;
}
/* a#trade-link {
  background-color: rgb(89, 179, 0);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px 34px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
} */

/* ------------------Footer styling------------------ */
footer#page-footer {
  margin-top: 50px;
  height: 110px;
}

span#footer-span {
  color: rgba(89, 129, 0);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  line-height: 34px;
}

img#logo {
  width: 150px;
  padding: 3px 10px;
}

img#logo:hover {
  background-color:rgb(89, 179, 0);
  border-radius: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease-in;
}

/*---------------- Media Queries ----------------*/
@media (max-width: 1100px) {
  div#info-section {
    flex-direction: column;
    align-items: center;
  }

  div#info-left,
  div#info-right {
    width: 90%;
  }
}

@media (max-width: 760px) {
  ol li {
    text-align:center;
    line-height: 1.4rem;
  }
}